   <header class="bg-white shadow-md">
  

  <nav class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
   

      <div class="flex gap-4">
        <a
          href="/"
          class="bg-blue-900 text-white px-5 py-2 rounded-lg
                 font-semibold hover:bg-blue-800 transition duration-300"
        >
        airbnb
        </a>
    <a
          href="/homes"
          class="bg-blue-900 text-white px-5 py-2 rounded-lg
                 font-semibold hover:bg-blue-800 transition duration-300"
        >
        Homes
        </a>
 <a
          href="/favourites"
          class="bg-blue-900 text-white px-5 py-2 rounded-lg
                 font-semibold hover:bg-blue-800 transition duration-300"
        >
       Favourites
       
        </a>
        <a
          href="/host/add-home"
          class="bg-blue-900 text-white px-5 py-2 rounded-lg
                 font-semibold hover:bg-blue-800 transition duration-300"
        >
          Add Home
        </a>
      </div>
    </nav>
      </header>