<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
   <link rel="stylesheet" href="/styles/output.css" />
</head>
<body>
  <h1 class ="text-3xl font-bold text-blue-900 text-center flex justify-center items-center">404 Page not Found</h1>
    <div class="flex justify-center">
  <a
    href="/"
    class="bg-blue-900 text-white px-6 py-3 rounded-lg
           font-semibold hover:bg-blue-800 transition duration-300 m-4"
  >
    Go to Home
  </a>
</div>
</body>
</html>